extends base

block content
    main.main
        .confirm
            .confirm-title
                h2.heading-secondary.heading-secondary--error Welcome To Natours 
                h2 Your user is now confirmed, you can safely login!
                a.btn.btn--green.span-all-rows(href='/') Press Here To Let The Journey Begin...